@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  background: #f5f5f6;
  padding: 15px;
}

.header_section {
  display: flex;
  justify-content: space-between;
}

.margL {
  margin-right: 135px;
}
.list li {
  display: inline;
  list-style: none;
  font-size: 11px;
  color: #959ba4;
  padding: 0 15px 0 0;
}

.login_btn {
  font-size: 11px;
  padding: 10px;
  border: 0;
  background-color: white;
}

.main_section {
  display: flex;
  justify-content: center;
}

p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #9f9f9f;
  padding-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  padding: 56px 0 33px 0px;
}
.sections {
  display: flex;
  justify-content: center;
}

.section_two {
  margin: 0 0 0 160px;
}

.curency__switcher {
  display: inline-flex;
  border: 0px solid black;
}

.curency__switcher__item:first-child {
  border-left: 1px solid #cdcdcd;
  border-radius: 3px 0 0 3px;
}

.curency__switcher__item:last-child {
  border-radius: 0 3px 3px 0;
}

.curency__switcher__item {
  width: 65px;
  height: 28px;
  padding: 4px 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #c6c6c6;
  align-items: center;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}

.curency__input_box {
  width: 260px;
  margin: 24px 0;
  padding: 30px 20px 15px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.curency__input_box__input {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  outline: 0;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.curency__input_box__rate {
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;

  color: #c6c6c6;
}

.active {
  color: #fff;
  background-color: #833AE0;
}
